* {
  box-sizing: border-box;
}

.app__dragItems{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.app__column {
  width: 30%;
}

.app__input {
  margin-top: 2rem;
  margin-left: 2rem;
}
.app__btn{
  
  margin-left: 0.5rem;
}
.app__droppable__col {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #d9cfcf;
  padding: 10px 10px 0 10px;
  border-radius: 5px;
}

.app__item {
  margin-bottom: 10px;
  background-color: #999292;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 7px;
}

.app__dragging {
  background-color: blue;
}